.main-header {
  background-image: url(../img/showcase.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  color: #fff;
  position: relative;
}

.primary-overlay {
  background-color: rgba(15, 20, 80, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase {
  padding-top: 60px;
}

.scroll-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.section-boxes .row {
  margin-bottom: 0 !important;
}

.box {
  text-align: center;
  padding: 40px 20px !important;
}

.box h4 {
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .main-header {
    height: 70vh;
  }
}